<%- include("header") -%>

<h2>About</h2>

<p> This web application project is created by James Njenga.<br />
  This is one of my side projects to improve my NodeJs skills.
</p>

<%- include("footer") -%>
